---
import Layout from '../layouts/Layout.astro';
import { CldUploadWidget, CldImage } from 'astro-cloudinary';
import { getCollection } from 'astro:content';

import '../styles/_base.css';
import '../styles/_layout.css';
import '../styles/_module.css';

const images = await getCollection('images');
---

<Layout title="Cloudinary Astro Test">
	<main class="container base-page">
        <header>
            <h1>Cloudinary Astro Test</h1>
        </header>
        <section>
            <div class="upload-container">
                <CldUploadWidget 
                    uploadPreset='upload-unsigned-images'
                    id='upload-widget'
                    options={{
                        sources: ["local"],
                        multiple: false,
                        maxFiles: 1,
                        language: "es",
                        text: {
                            es:{
                                or: 'O',
                                menu:{
                                    "files": "Subir desde tu dispositivo"
                                },
                                local:{
                                    "browse": "Seleccionar",
                                    "dd_title_single":"Arrastra tu imagen aquí",
                                },
                            }
                        }
                    }}
                >
                    <button class="btn-upload">Subir imagen</button>
                </CldUploadWidget>
            </div>
            <ul class="image-list">
                {images.map((image) =>{
                    return (
                        <li class="image-item" >
                            <a href={`/photo?id=${image.data.public_id}`} class="image-link">
                                <CldImage
                                    src={image.data.public_id}
                                    height={image.data.height}
                                    width={image.data.width}
                                    crop={{
                                        type: 'fill',
                                        source: true,
                                    }}
                                />
                            </a>
                            <div class="image-title">Título de la imagen</div>
                        </li>
                    )
                })}
            </ul>
        </section>
    </main>
</Layout>

<script>
    import { navigate } from "astro:transitions/client";

    //const widget = document.getElementById("upload-widget");
    
    /*if(widget){
        widget.addEventListener('clduploadwidget:success', ((e: CustomEvent<{ info: { public_id: string } }>) => {
            console.log('clduploadwidget:success', e.detail);
            const PUBLIC_ID = e.detail.info.public_id;
            navigate(`/photo?id=${PUBLIC_ID}`);
        }) as EventListener);
    }*/

    document.addEventListener('DOMContentLoaded', () => {
        const widget = document.getElementById('upload-widget');

        if (widget) {
            widget.addEventListener('clduploadwidget:success', ((e: CustomEvent<{ info: { public_id: string } }>) => {
                const PUBLIC_ID = e.detail.info?.public_id;

                if (PUBLIC_ID) {
                    console.log('Upload successful: ', PUBLIC_ID);
                    navigate(`/photo?id=${PUBLIC_ID}`);
                } else {
                    console.error('Upload failed: No public_id received.');
                }
            }) as EventListener);
        } else {
            console.error('Upload widget not found.');
        }
    });
</script>
